# SmallRNA config file  -*- conf -*-
name: SmallRNA::Web
long_name: SmallRNA Tracking
pipeline_directory: ${pipeline-directory}
data_sub_directory: ${pipeline-process-directory}
authentication:
  default_realm: 'members'
  realms:
    members:
      credential:
        class: 'Password'
        password_field: 'password'
        password_type: 'clear'
      store:
        class: DBIx::Class
        user_class: Person
        id_field: username
# There needs to be a class_info entry for each class that will be displayed.
# Class flags:
#   editable: an edit link and edit page will be created for this class
#   display_field: if provided, the value in this field will be used whenever
#                  objects of this class need to be displayed as a name, eg.
#                  in a select box
#   field_info_list: a list of field_infos for this class
# Field infomation:
#   The field_info_list, if provided is used to decide which columns to
#   display when listing a class or showing an object.
#   Field flags:
#     - field_label: the description to display for the field
#     - editable: if set and true, the field is editable
#     - field_conf:
#        - if set, and the value matches /^\w[\w\d]+$/, use this value instead
#          of the field_label as the database column to retrieve the data from
#        - if set, and the value does not match /^\w[\w\d]+$/, evaluate as
#          perl code for each object / row to be displayed.  During evaluation,
#          $object will be set to the current row.  Any HTML characters will be
#          passed through to the user.  These fields cannot be edited 
#        - if not set, the field_label is used to choose the database
#          column that holds the value for this field
class_info:
  cv:
    display_field: name
  cvterm:
    display_field: name
  dbxref:
    display_field: accession
  db:
    display_field: name
  organisation:
    display_field: name
  organism:
    display_field: full_name
    order_by:
      - genus
      - species
  person:
    editable: 1
    display_field: full_name
    order_by:
      - first_name
      - last_name
    field_info_list:
      - field_label: username
        editable: 1
      - field_label: organisation
        editable: 1
      - field_label: first_name
        editable: 1
      - field_label: last_name
        editable: 1
  sample:
    editable: 1
    display_field: name
    # hack to put the samples in a sensible order:
    order_by: "substring(name from E'(?:SL([\\\\d]+).*|(.*))')::integer"
    field_info_list:
      - field_label: name
        default_value: |
           use SmallRNA::DBLayer::Loader;
           SmallRNA::DBLayer::Loader::get_unique_identifier($c->schema(), 'Sample', 'name', 'SL');
        editable: 1
      - field_label: description
        editable: 1
      - field_label: genotype
        editable: 1
      - field_label: protocol
        editable: 1
      - field_label: sample_type
        editable: 1
        values_constraint: 'cv->name = "tracking sample types"'
      - field_label: molecule
        field_conf: molecule_type
        editable: 1
        values_constraint: 'cv->name = "tracking molecule types"'
      - field_label: treatment
        field_conf: treatment_type
        editable: 1
        values_constraint: 'cv->name = "tracking treatment types"'
      - field_label: fractionation
        field_conf: fractionation_type
        editable: 1
        values_constraint: 'cv->name = "tracking fractionation types"'
      - field_label: tissue
        editable: 1
      - field_label: processing requirement
        field_conf: processing_requirement
        values_constraint: 'cv->name = "tracking sample processing requirements"'
        editable: 1
      - field_label: ecotypes
        referenced_class: Ecotype
        editable: 1
        is_collection: 1
      - field_label: projects
        field_conf: pipeprojects
        referenced_class: Pipeproject
        editable: 1
        is_collection: 1
      - field_label: pipedatas
        referenced_class: Pipedata
        editable: 1
        is_collection: 1
        admin_only: 1
  ecotype:
    display_field: long_description
  genotype:
    display_field: description
  tissue:
    display_field: description
  pipeproject:
    editable: 1
    display_field: name
    field_info_list:
      - field_label: name
        default_value: |
           use SmallRNA::DBLayer::Loader;
           SmallRNA::DBLayer::Loader::get_unique_identifier($c->schema(), 'Pipeproject', 'name', 'PROJ');
        editable: 1
      - field_label: description
        editable: 1
      - field_label: owner
        editable: 1
      - field_label: funder
        editable: 1
      - field_label: samples
        referenced_class: Sample
        editable: 1
        is_collection: 1
  process_conf:
    editable: 1
    display_field: long_description
    order_by: type
    field_info_list:
      - field_label: type
        values_constraint: 'cv->name = "tracking analysis types"'
        editable: 1
      - field_label: detail
        editable: 1
      - field_label: runable_name
        editable: 1
  process_conf_input:
    editable: 1
    display_field: description
    order_by: process_conf
    field_info_list:
      - field_label: content_type
        values_constraint: 'cv->name = "tracking file content types"'
        editable: 1 
      - field_label: format_type
        values_constraint: 'cv->name = "tracking file format types"'
        editable: 1
      - field_label: ecotype
        editable: 1
      - field_label: process_conf
        editable: 1
  pipeprocess:
    display_field: description
    order_by: created_stamp
  barcode:
    display_field: long_identifier
    order_by: identifier
    field_info_list:
      - field_label: identifier
        editable: 1
      - field_label: code
        editable: 1
      - field_label: barcode_set
        editable: 1
  barcode_set:
    display_field: name
  pipedata:
    display_field: file_name
  sequencingrun:
    editable: 1
    display_field: identifier
    field_info_list:
      - field_label: identifier
        default_value: |
           use SmallRNA::DBLayer::Loader;
           SmallRNA::DBLayer::Loader::get_unique_identifier($c->schema(), 'Sequencingrun', 'identifier', 'RUN-');
        editable: 1
      - field_label: Sequencing centre
        field_conf: sequencing_centre
        editable: 1
      - field_label: Sequencing type 
        field_conf: sequencing_type
        values_constraint: 'cv->name = "tracking sequencing method"'
        editable: 1
      - field_label: Sequencing sample
        field_conf: sequencing_sample
        editable: 1
      - field_label: quality
        editable: 1
        values_constraint: 'cv->name = "tracking quality values"'
      - field_label: multiplexing_type
        editable: 1
        values_constraint: 'cv->name = "tracking multiplexing types"'
  sequencing_sample:
    editable: 1
    display_field: name
    field_info_list:
      - field_label: name
        default_value: |
           use SmallRNA::DBLayer::Loader;
           SmallRNA::DBLayer::Loader::get_unique_identifier($c->schema(), 'SequencingSample', 'name', 'SEQSAMP-');
        editable: 1
      - field_label: coded_samples
        referenced_class: CodedSample
        editable: 1
        is_collection: 1
  coded_sample:
    editable: 1
    display_field: description
    field_info_list:
      - field_label: description
        editable: 1
      - field_label: run type
        field_conf: coded_sample_type
        values_constraint: 'cv->name = "tracking coded sample types"'
        editable: 1
      - field_label: sample
        editable: 1
      - field_label: barcode
        editable: 1
      - field_label: sequencing sample
        field_conf: sequencing_sample
        editable: 1
  protocol:
    display_field: name
  pub:
    display_field: title
    editable: 1
    field_info_list:
      - field_label: title
        editable: 1
      - field_label: issue
        editable: 1
      - field_label: pyear
        editable: 1
      - field_label: pages
        editable: 1
      - field_label: uniquename
        default_value: |
           use SmallRNA::DBLayer::Loader;
           SmallRNA::DBLayer::Loader::get_unique_identifier($c->schema(), 'Pub', 'uniquename', 'PIPELINE-PUB-');
        editable: 1
      - field_label: type
        field_conf: type_id
        values_constraint: 'cv->name = "tracking publication types"'
        editable: 1
"Model::SmallRNAModel":
  schema_class: 'SmallRNA::DB'
  connect_info:
     - "dbi:Pg:dbname=${database-name};host=${database-host}"
     - '${database-user-name}'
     - '${database-password}'
gbrowse:
  prefix: 'http://node3/cgi-bin/gbrowse/arabidopsis'
plugins:
  object_page:
    sample:
      - name: GBrowse
        path: /plugins/gbrowse.mhtml
        css_class: gbrowse_link 
      - name: Size distribution graph
        path: /plugins/sizecomp.mhtml
        css_class: size_dist_graph
      - name: Base distribution graph
        path: /plugins/basedist.mhtml
        css_class: base_dist_graph
    sequencingrun:
      - name: Multiplexing barcode distribution graph
        path: /plugins/barcode_dist.mhtml
        css_class: barcode_dist
    pipedata:
      - name: Data file details
        path: /plugins/pipedata_details.mhtml
  front_page:
    - name: Samples submitted by quarter
      path: /plugins/sample_submissions.mhtml
      css_class: sample_submission_graph
    - name: Cumulative number of sequences by month
      path: /plugins/cumulative_reads_by_month.mhtml
      css_class: cumulative_reads_by_month
